# Папки
__pycache__/
.cursor/
.vscode/
.claude/
yandex_results/
catboost_info/
artifacts/
references/
.ipynb_checkpoints/
.hf_cache/

# Расширения файлов
*.log
*.pt
*.parquet

# Отдельные файлы
catboost_test.py
log_wrapper.py
.DS_Store
CLAUDE.md

settings.json
